/* Page Wrapper */
.page-wrapper {
    overflow-x: clip;
}

/* Bottom unified wrapper for CTA + Footer */
.bottom-unified-wrapper {
    padding-top: 8rem;
    width: 100%;
    position: relative;
    z-index: 1;
}

@media (max-width: 480px) {
    .bottom-unified-wrapper {
        padding-top: 0;
    }
}
